.frame {
    width: 400px;
    height: 336px;
    background: #FFFFFF;
    border-radius: 8px;
}

.avatar {
    width: 168px;
    height: 168px;
    background: #ccc;

    .title {
        width: 336px;
        height: 28px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 26px;
        color: #000000;
    }

    p {
        width: 336px;
        height: 20px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #000000;
    }
}




:root {
    --gap: 4px;
    --duration-shrink: .5s;
    --duration-expand: .25s;
    --no-duration: 0s;
  }
  
  body {
    margin: 0;
    background-color: #000;
    color: #fff;
  }
  
  p {
    font-family: sans-serif;
    margin: 1rem;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--gap);
    list-style: none;
    padding: 0;
    margin: 1rem;
  }
  
  @media screen and (min-width: 640px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
  li {
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: var(--duration-expand);
  }
  
 
  img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }