// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 2em;
  padding: 2em 4em;
  background-color: #fff;
  border: 1px solid lighten($border-color, 8.8%);
  border-radius: $global-radius;
  box-shadow: none;
  box-sizing: border-box;
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border: 1px solid $primary-color;
    outline: 0;
  }
}

textarea:focus,
select:focus {
  border: 1px solid $primary-color;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}


input,  
textarea {  
    @include input-placeholder {
        color: $light-grey;
    }
}


.searchbox {
  width: 400px;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}


@include mq('tablet')	{
  .users-panel > ul { 
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mq('desktop')	{
  .users-panel > ul { 
    grid-template-columns: repeat(3, 1fr);
  }
}


.users-panel {
  ul {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    padding: 0;
  }
}

.frame {
  margin: 1em;
  height: 336px;
  width: 400px;
  background: #FFFFFF;
  border-radius: 8px;
}


.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:red;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  top: 15%;
  left: 20%;
  padding: 1em;

  img {
    vertical-align: middle;
    max-width: 100%;
  }

  // url('https://unsplash.com/photos/pyt6ZAHfmx4');

  .title {
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 26px;
      color: $dark-grey;
      justify-self: left;
  }

  p {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: $dark-grey;
  }


}