body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.home {
  background: #F8F8F8;
}

// HEADER

.masthead {

	min-height: 100px;
	display: flex;
	justify-content: space-around;
	padding: 55px 0;

	.logo {
		order: -1;
	}

}


// CONTENT

main {
	flex: 1 0 auto;
	min-height: auto;
	
	.main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
    	height: 100%;
	}


	.caption {
		@include font-size(28px);
		margin-bottom: 0;
		line-height: 1.2;
		
		& + p {
			text-align: center;
		}
	}

}



